body {
  margin: auto 0;
}


/*NAV*/
.main-nav {
  padding: 0 10px;
  display: flex;
  font-size: 16px;
  margin: 0;
  background-color: grey;
}

li {
  list-style: none;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: white;
}

.push {
  margin-left: auto;
  /*responsive*/
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 14px;
    padding: 0;
  }
}

/*COVER*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  /*responsive*/
  background-color: black;
}




