body {
  margin: auto 0; /*eliminate style rendered by browser*/
  font-family: 'Comic Neue', cursive;
}


/*NAV*/
.main-nav {
  background-color: #C19AB7;
  font-size: 16px;
  display: flex; /*to place menu items side by side*/
  padding: 0 10px;
  margin: 0;
}

.sticky {
  position: fixed; /*to make the navbar stick to the top of the page when scrolling*/
  top: 0;
  width: 100%;
}

li {
  list-style: none;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: white;
}

.push {
  margin-left: auto; /*responsive*/
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 14px;
    padding: 0;
  }
}

/*COVER*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh; /*responsive*/
  background-color: #9C95DC;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

/*GRID*/
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  background-color: #CDCDCD;
}

.box > img {
  width: 100%;
}

.box {
  background-color: #E3E4DB;
  padding: 100px;
}

footer {
  text-align: center;
}





















